[submodule "private"]
	path = private
	url = https://github.com/Betalgeuse/vibe-company-private.git
[submodule "evolution"]
	path = evolution
	url = https://github.com/Betalgeuse/vibe-company-evolution.git
